.wrapper {
  width: 600px;
  margin: 0 auto;
}

header {
  background: #f1f1f1;
  padding: 1em;
}

ul.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 4em;
  }
}

